@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rgrid-m: theme('spacing.4');
  --rgrid-g: theme('spacing.4');
  --header-height: theme('spacing.16');
}

@media (min-width: theme('screens.lg')) {
  :root {
    --rgrid-m: theme('spacing.6');
    --rgrid-g: theme('spacing.12');
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
  color-scheme: light;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  html:not(.light) {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji';
}
